[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
build = "mkdocs build"
serve = "mkdocs serve -a 0.0.0.0:8000"
gh-deploy = "mkdocs gh-deploy"
repl = "docker run -it --rm python:3.7 python"
